@media screen and (min-width: 768px) {
    header ul{
        display: none;
    }
    section.get-demo .col{
    
        width: calc(100% / 3);

    }
    .get-demo .col.big{
        width: 66%;
    }
    .tab{
        display: flex;
        height: 100%;
        flex-direction: column;
    }
    .tab.bigger{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        margin: 0 auto;
    }
    section.planning{
    display: flex;
    flex-direction: column;
    }
    
    section.testimonials .col .testimonials-tab{
        display: flex;
        flex-direction: row;
    }
    section.testimonials .col{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    section.benefits .col{
        width: calc(100% / 2);
    }

    section.about-us .row{
        width: 100%;
        display: flex;
        flex-direction: row;
        
    }
    section.about-us .col{
        margin: 0;
        align-items: center;
        width: calc(100% / 2);
    }
}