*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ********UTILITIES*********** */

.debug{
    background-color: rgba(255, 0, 0, .4);
    border: 1px solid black;
}

.d-flex{
    display: flex;
}
.d-block{
    display: block;
}

.p-10{
    padding: 10px;
}

/********** GENERALI ***********/
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

/* ********* BUTTONS ******** */

.btn{
    padding: 5px 25px;
    border-radius: 30px 30px 30px 30px;
}

.btn.blue{
    background-color: #0084FD;
    color: white;
}
.btn.white{
    background-color: white;
    color: black;

    /* MARGIN HEADER */
    margin-left: 20px;
    
}
.btn.violet{
    color: white;
    background-color: #9792E4;
}
.btn-cta{
    background-color: #9792E4;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.btn.white.big{
    color: #9792E4;
    font-weight: 600;
    margin-top: 40px;
    background-color: white;
    padding: 20px 70px;
}

/***********HEADER*********/

header{
    width: 100%;
    height: 75px;
    padding: 10px;
    background-color: #0084FD;
    color: white;
}

header nav .burger-menu{
    font-size: 30px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .cta-header a{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}


/*********** MAIN **********/
.row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}
.col{
    width: 100%;
    display: flex;
    padding: 10px;
}

/* ********** GET DEMO SECTION ***********/
section.get-demo{
    width: 100%;
}
.tab{
    width: 100%;
    display: flex;

    text-align: center;
    line-height: 25px;
    padding: 10px;

    font-weight: 600;
    color: lightslategray;
    border-radius: 10px 10px 10px 10px;
    background-color: #B5DDFF;
}



.tab i{
    font-size: 80px;
    color: #0084FD;
}

.tab h2{
    text-align: center;
    font-size: 1.5rem;
    margin: 30px 0px;
    color: #0084FD;
    
}
.tab p{
    margin-bottom: 30px;
}
.tab .btn a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.tab .btn i{
    font-size: 20px;
    color: white;
    margin-right: 5px;
}




.col.big img{
    margin-top: 20px;
    width: 60%;
    
}

/* ***********PLANNING SECTTION *********** */

section.planning{
    width: 100%;
    padding: 40px 0;
    background-color: #9792E4;
    
}
.strategic-planning{
    display: flex;
    margin: 30px 0px;
    padding: 10px;
    color: white;
    line-height: 25px;
}
.planning img{
    margin: 40px 0px;
    width: 100%;
}
.strategic-planning h2{
    font-size: 2rem;
    margin: 60px 0px;
}
.app-development{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 25px;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
}

.app-development p{
    margin: 40px 0px;
    font-style: italic;
}


/* ********** TESTIMONIALS SECTION ************/

/* section.testimonials .col{
                               /* DA AGGIORNARE PER TABLET E DESKTOP */


.testimonials-cont{
    padding: 20px 0;
    text-align: center;
}
.testimonials-cont h2{
    margin-top: 20px;
    font-size: 2.2rem;
    color: #9792E4;
}
.testimonials-cont p{
    margin-top: 20px;
    line-height: 30px;
    font-size: 1.2rem;
}


.testimonials .col .testimonials-tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    color: white;
    border-radius: 15px 15px 15px 15px;
    background-color: #9792E4;
}
.testimonials .col .testimonials-tab img{
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.testimonials-tab .testimonial-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.testimonials-tab .testimonial-text p{
    line-height: 30px;
    

}
.testimonials-tab .testimonial-text h4{
    margin-top: 30px;
}
/* blockquote::before{
    font-family: Georgia, serif;
    font-size: 3rem;
    content: '\201c';
} */

/********** BENEFITS SECTION **********/

section.benefits{
    width: 100%;
    background-color: #9792E4;
    padding: 40px 0;
}
section.benefits .col{
    padding: 10px;
}
.benefits h3{
    color: white;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 30px;
}
.benefi-tab{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}
.benefi-tab .btn.violet{
    font-size: 1.3rem;
    letter-spacing: 5px;
}
.benefi-int{
    display: flex;
    flex-direction: column;
}
.benefi-tab .benefi-int h2{
    color: #9792E4;
    font-size: 2.2rem;
    margin-bottom: 10px;
}
.benefi-tab .benefi-int span{

    color: #9792E4;
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.benefi-tab p{
    line-height: 25px;
    margin-bottom: 20px;
}

/* ********* ABOUT US SECTION ********* */

section.about.about-us{
    padding: 40px 0px;
}

.about-us .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

}
.about-us h2{
    font-size: 2.2rem;
    color: #9792E4;
}
.about-us p{
    margin-top: 30px;
    line-height: 30px;
}
.about-us img{
    width: 60%;
    border-radius: 50%;
}
.about-us h3{
    margin: 25px 0px;
    font-size: 1.9rem;
    color: #9792E4;
}

/* ********* GET STARTED SECTION ********* */

section.get-started{   /* DA MODIFICARE PER VERSIONE DESKTOP
                        CON WIDTH 100% */
    padding: 40px 0px;
    background-color: #9792E4;
    color: white;
}
section.get-started .container{
    display: flex;
    flex-direction: column;        
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px 0;
    width: 90%;
    margin: 0 auto;
}
.get-started span{
    margin-bottom: 40px;
}
.get-started h3{
    font-size: 1.5rem;
    margin-bottom: 40px;
}
.get-started h2{
    color: #FDC15F;
    font-size: 3rem;
    margin-bottom: 40px;
}

/* ********* FOOTER ********* */

footer{ 
    background-color: #333333;
    color: white;
    padding: 30px 0;
    text-align: center;
    line-height: 20px;

    /* DA TOGLIERE (FORSE) */
    height: 230px;
}

footer p{
    margin-bottom: 50px;
}
footer a{
    color: #9792E4;
}

